.people-grid {
    max-width: 89.2%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 245px));
    padding-top: 123px;
    justify-content: space-between;
}