.header {
    width: 100%;
    max-width: 1280px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 57px 6%;
    font-size: 14px;
    font-weight: bold;
}
