.welcome {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 85px;
	justify-items: center;
	gap: 75px;
	max-width: 89.2%;
	margin: 0 auto;
}


@media screen and (max-width: 780px) {
	.welcome {
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 426px) {
	.welcome {
		max-width: 320px;
		width: 100%;
	}
}