.place {
	display: grid;
	grid-template-columns: repeat(2, minmax(320px, 640px));
	grid-template-rows: 41.7vw;
	gap: 0;
}

.place:first-child {
	margin-top: 130px;
}

@media screen and (max-width: 768px) {
	.place {
		grid-template-rows: auto;
	}
	.place:first-child {
		margin-top: 80px;
	}
}

@media screen and (max-width: 426px) {
	.place {
		grid-template-columns: 1fr;
		grid-template-rows: minmax(min-content, 400px);
	}
}