.footer {
    max-width: 1280px;
    width: 100%;
    min-height: 78vh;
    height: 100%;
    background-color: #fecda7;
    margin-top: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}