.people-says {
	width: 100%;
	max-width: 1280px;
	padding-top: 110px
}

@media screen and (max-width: 768px) {
	.people-says {
		padding-top: 60px;
	}
}

@media screen and (max-width: 426px) {
	.people-says {
		padding-top: 30px;
	}
}